<div class="hotel-description">
    <h1 class="hotel-name">{{ $ctrl.description.name }}</h1>
    <p class="starsByHotel"><span class="glyphicon glyphicon-star gold" ng-repeat="i in [] | range:$ctrl.description.stars" ></span></p>
    <p class="regimenByHotel">
        <i data-ng-show="$ctrl.description.regimen == 'Solo habitación'" class="fa fa-bed"></i><i data-ng-show="$ctrl.description.regimen == 'Incluye Desayuno'" class="fa fa-coffee"></i>
        <span class="regimenDescription">{{ $ctrl.description.regimen }}</span>
    </p>
</div>

<div ng-if="$ctrl.description.amenities.length > 0" class="suite-amenities">
    <ul class="lista">
        <li ng-repeat="amit in $ctrl.description.amenities | limitTo:6">
            <div class="lista-iconos" ng-switch on="amit.name">
                <i ng-switch-when="pool" data-hint="Pileta" class="icon-swimming large-icon col-2"></i>
                <i ng-switch-when="wifi" class="fa fa-wifi large-icon col-2"></i>
                <i ng-switch-when="bar" class="fa fa-beer large-icon col-2"></i>
                <i ng-switch-when="restaurant" class="fa fa-cutlery large-icon col-2"></i>
            </div>
        </li>
    </ul>
</div>
