/* ========== Variables ========== */
$shadow-drop: rgba(119,119,119,0.3);
$filter-br: #F4F4F4;
/* ========== Styles ========== */
.filter-box-ctn {
  padding-left: -15px;
  margin-bottom: 0;
  border-bottom: 4px solid $filter-br;
  box-shadow: 0 1px 3px 0 $shadow-drop;
}
.map-ctn {
  @extend .filter-box-ctn;
  text-align: center;
  .map-description {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding: 8px;
    a {
      color: #157ab1;
    }
  }
  .map-image {
    background-image: url('/static/img/result-map.png');
    height: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
  }
}

.filtrar-titulo {
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
}
.panel-title{
  & a, span{
  color: #157ab1;
  font-weight: bold;
  font-size:14px;
}}
h4.panel-title{
  margin: 10px;
}
.glyphicon-no-margin{
  margin: 0px;
  padding: 0px;
}
span.little-caret{
  font-size: 10px;
  right: 1px;
  vertical-align: middle;
}
.filter-panel {
  padding: 0;
}
.panel-content {
  display: block;
  margin-left: 10px;
}
.panel-btn{
    background-color: #002C77;
    color: #fff;
    -moz-box-shadow: 0 -2px 0 #00163C inset;
    -webkit-box-shadow: 0 -2px 0 #00163C inset;
    box-shadow: 0 -2px 0 #00163C inset;
    &:hover{
      background: #335692;
      -moz-box-shadow: 0 -2px 0 #00163C inset;
      -webkit-box-shadow: 0 -2px 0 #00163C inset;
      box-shadow: 0 -2px 0 #00163C inset;
    }
  }

input[type="button"] {
  border: 0 none;
  height: 26px;
  padding: 0 8px;
  vertical-align: top;
  font-family: sans-serif;
  line-height: 28px;
  font-size: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.query-text{
  width: 120px;
  border-bottom-color: #CCC;
  border-top-color: #777;
  border-left-color: #CCC;
  border-right-color: #CCC;
  color: #555;
  font-weight: normal;
  border: 1px solid;
  background: #fff;
  height: 26px;
  padding:{
    top: 4px;
    left: 10px;
    right: 10px;
    bottom: 8px;
  }
  vertical-align: top;
  font-family: sans-serif;
  line-height: 28px;
  font-size: 16px;
  border-radius: 2px;

}
#collapse* {
  margin-bottom: 15px;
}
.ctn-qt {
  padding:10px;
}
.ctn-bt {
  padding: 10px;
}
.hn-ctn {
  margin-bottom: 5px;
}
.df-ctn {
  display: block;
  border: 1px solid #CCC;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 15px;
  ul {
    display: inline;
    line-height: 18px;
    font-size: 14px;
    list-style-position: inside;
    margin-bottom: 8px;
  }
  li  {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 2%;
  }
  h3 & {
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}