/* ========== Variables ========== */
$shadow-drop: rgba(119,119,119,0.3);

/* ========== Styles ========== */
.hotel-container {
  background-color: #FFF;
  padding: 8px;
  box-shadow: 0px 1px 3px 0px $shadow-drop;
  margin-bottom: 16px;
}
.slider-container {
  display: inline-block;
}