.order-select {
  display:block;
  float: right;
  margin-right: 8px;
  line-height: 24px !important;
  & .label {
    color: black;
  }}
.order-by {
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 13.3333px Arial;
}