.price-box {
  text-align: center;
}
.price-description {
  line-height: 16px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 8px;
}
.priceByNight {
  color: #DF6800;
  margin-bottom: 8px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.currency-code {
  line-height: 40px;
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}
.price-value {
  line-height: 40px;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
}
.button {
  background-color: #777;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 0 16px;
  -moz-box-shadow: 0 -2px 0 #777 inset;
  -webkit-box-shadow: 0 -2px 0 #777 inset;
  box-shadow: 0 -2px 0 #777 inset;
  &.button--block {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.button--secondary {
    background-color: #002C77;
    color: #fff;
    -moz-box-shadow: 0 -2px 0 #00163C inset;
    -webkit-box-shadow: 0 -2px 0 #00163C inset;
    box-shadow: 0 -2px 0 #00163C inset;
  }
  &.button--lg {
    height: 40px !important;
    font-size: 20px !important;
    line-height: 40px !important;
    padding: 0 16px;
    font-weight: bold;
  }
  &.button-detail {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.payment-methods {
  line-height: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
.price-box-container {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding: 0px 12px 0px 12px;
  border-left: {
    width:1px;
    style: dashed;
    color: #CCC;
  }
  min-height: 192px;
}