<div class="order-select">
    <label for="ordenar" class="label">Ordenar</label>
    <select id="ordenar" ng-model="$ctrl.orderBy" class="order-by" ng-change="$ctrl.onChangeButton({order: $ctrl.orderBy})">
        <option value="decorators.available">Más relevantes</option>
        <option value="price.value">Precio más bajo</option>
        <option value="-price.value">Precio más alto</option>
        <option value="description.stars">Menos estrellas</option>
        <option value="-description.stars">Más estrellas</option>
    </select>
</div>