<!doctype html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="utf-8">
    <title>Al mundo TestApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/libs/jquery/dist/jquery.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/libs/angular-rangeslider/angular.rangeSlider.css">
</head>
<body>
<header class="header-ctn clear-padding">
    <div class="nav-bar-ctn">
        <nav-bar></nav-bar>
    </div>
</header>
<div class="container">
    <nav-breadcrumb></nav-breadcrumb>
    <hotels-list hoteles="hoteles"></hotels-list>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
<script src="/static/libs/angular-rangeslider/angular.rangeSlider.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>

<script src="/static/libs/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/libs/angular-resource/angular-resource.js"></script>
<script src="/static/libs/angular-route/angular-route.js"></script>

<script src="/static/app.module.js"></script>
<!-- Dependencias del navBar component -->
<script src="/static/components/nav-bar/navBar-component.js"></script>
<script src="/static/components/nav-bar/navBar-controller.js"></script>
<script src="/static/components/nav-bar/navBar-module.js"></script>
<!-- Dependencias del navBreadcrumb component -->
<script src="/static/components/nav-breadcrumb/navBreadcrumb-component.js"></script>
<script src="/static/components/nav-breadcrumb/navBreadcrumb-controller.js"></script>
<script src="/static/components/nav-breadcrumb/navBreadcrumb-module.js"></script>
<!-- Dependencias del hotelList component -->
<script src="/static/components/hotels-list/hotelsList-controller.js"></script>
<script src="/static/components/hotels-list/hotelsList-service.js"></script>
<script src="/static/components/hotels-list/hotelsList-component.js"></script>
<script src="/static/components/hotels-list/hotelsList-filter.js"></script>
<script src="/static/components/hotels-list/hotelsList-module.js"></script>
<!-- Dependencias del hotelCluster component -->
<script src="/static/components/hotel-cluster/hotelCluster-controller.js"></script>
<script src="/static/components/hotel-cluster/hotelCluster-component.js"></script>
<script src="/static/components/hotel-cluster/hotelCluster-module.js"></script>
<!-- Dependencias del imageSlider component -->
<script src="/static/components/images-slider/imagesSlider-controller.js"></script>
<script src="/static/components/images-slider/imagesSlider-component.js"></script>
<script src="/static/components/images-slider/imagesSlider-module.js"></script>
<!-- Dependencias del hotelDescription component -->
<script src="/static/components/hotel-description/hotelDescription-controller.js"></script>
<script src="/static/components/hotel-description/hotelDescription-component.js"></script>
<script src="/static/components/hotel-description/hotelDescription-filter.js"></script>
<script src="/static/components/hotel-description/hotelDescription-module.js"></script>
<!-- Dependencias del priceBox component -->
<script src="/static/components/price-box/priceBox-controller.js"></script>
<script src="/static/components/price-box/priceBox-component.js"></script>
<script src="/static/components/price-box/priceBox-module.js"></script>
<!-- Dependencias del orderSelect component -->
<script src="/static/components/order-select/orderSelect-controller.js"></script>
<script src="/static/components/order-select/orderSelect-component.js"></script>
<script src="/static/components/order-select/orderSelect-module.js"></script>
<!-- Dependencias del nameFilter component (Requerido por filterBox) -->
<script src="/static/components/filter-box/name-filter/nameFilter-component.js"></script>
<script src="/static/components/filter-box/name-filter/nameFilter-module.js"></script>
<!-- Dependencias del priceFilter component (Requerido por filterBox) -->
<script src="/static/components/filter-box/price-filter/priceFilter-component.js"></script>
<script src="/static/components/filter-box/price-filter/priceFilter-controller.js"></script>
<script src="/static/components/filter-box/price-filter/priceFilter-module.js"></script>
<!-- Dependencias del starsFilter component (Requerido por filterBox) -->
<script src="/static/components/filter-box/stars-filter/starsFilter-component.js"></script>
<script src="/static/components/filter-box/stars-filter/starsFilter-controller.js"></script>
<script src="/static/components/filter-box/stars-filter/starsFilter-filter.js"></script>
<script src="/static/components/filter-box/stars-filter/starsFilter-module.js"></script>
<!-- Dependencias del hotelsMap component (Requerido por filterBox) -->
<script src="/static/components/filter-box/hotels-map/hotelsMap-component.js"></script>
<script src="/static/components/filter-box/hotels-map/hotelsMap-module.js"></script>
<!-- Dependencias del dateFilter component (Requerido por filterBox) -->
<script src="/static/components/date-filter/dateFilter-component.js"></script>
<script src="/static/components/date-filter/dateFilter-controller.js"></script>
<script src="/static/components/date-filter/dateFilter-module.js"></script>
<!-- Dependencias del filterBox component -->
<script src="/static/components/filter-box/filterBox-controller.js"></script>
<script src="/static/components/filter-box/filterBox-component.js"></script>
<script src="/static/components/filter-box/filterBox-module.js"></script>

<script src="/static/libs/underscore/underscore.js"></script>
<script src="/static/components/_.module.js"></script>


</body>
</html>
