<!doctype html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="utf-8">
    <title>Al mundo TestApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/libs/jquery/dist/jquery.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/libs/angular-rangeslider/angular.rangeSlider.css">
</head>
<body>
<div class="container">
    <hotels-list></hotels-list>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="/static/libs/angular-rangeslider/angular.rangeSlider.js"></script>

<script src="/static/libs/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/libs/angular-resource/angular-resource.js"></script>
<script src="/static/libs/angular-route/angular-route.js"></script>

<script src="/static/app.module.js"></script>
<script src="/static/components/hotels-list/hotels-list.controller.js"></script>
<script src="/static/components/hotels-list/hotels-list.service.js"></script>
<script src="/static/components/hotels-list/hotels-list.component.js"></script>
<script src="/static/components/hotels-list/hotels-list.filter.js"></script>
<script src="/static/components/hotels-list/hotels-list.module.js"></script>

<script src="/static/libs/underscore/underscore.js"></script>
<script src="/static/_.module.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>

</body>
</html>
