<div class="filtrar-titulo">Filtrar</div>
<div id="search-filters" class="panel fxt-click-panel">

    <div class="panel-body filter-panel" style="padding-left: -15px">
        <name-filter title="'Nombre de hotel'" hotel-name="$ctrl.query" on-change-query="$ctrl.refreshQuery"></name-filter>
        <price-filter ng-if="$ctrl.absMin !== undefined" title="'Precio por noche'" abs-min="$ctrl.absMin" abs-max="$ctrl.absMax" price-min="$ctrl.priceMin" price-max="$ctrl.priceMax"></price-filter>
        <stars-filter title="'Estrellas'" stars="$ctrl.stars" on-change-stars="$ctrl.onChangeStars"></stars-filter>
    </div>

</div>