<div class="filtrar-titulo">Filtrar</div>
<div id="search-filters" class="panel fxt-click-panel">

    <div class="panel-body filter-panel">
        <name-filter title="'Nombre de hotel'" hotel-name="$ctrl.query" on-change-query="$ctrl.refreshQuery"></name-filter>
        <price-filter title="'Precio por noche'" price-min="$ctrl.priceMin" price-max="$ctrl.priceMax" on-price-change="$ctrl.refreshPriceRange"></price-filter>
        <stars-filter title="'Estrellas'"></stars-filter>
    </div>

</div>