<div class="row">
    <section class="col-md-3 col-xs-12" >
        <filter-box></filter-box>
    </section>
    <!-- Genero el contenedor con la vista de los hoteles -->
    <!-- En tablets o phones es full width en desktop es 75% -->

    <section class="col-md-9 col-xs-12" >
        <ul class="hoteles">
            <li>
                <order-select order-by="$ctrl.orderProperty" on-change-button="$ctrl.refreshFilter"></order-select>
            </li>
            <!-- Recorro el arreglo de hoteles para generar la lista de los mismos -->
            <!--<li ng-repeat="hotel in $ctrl.hotels | price:userMinPrice:userMaxPrice | filtrarEstrellas:$ctrl.selEstrellas | orderBy:$ctrl.orderProp" >-->
            <li ng-repeat="hotel in $ctrl.hotels | orderBy:$ctrl.orderProperty" >
                <!-- A cada componente hotelCluster le paso un hotel para que le de formato y lo distribuya entre sus childs -->
                <!-- Comienzo cluster de hotel -->
                <hotel-cluster hotel-data="hotel"></hotel-cluster>
                <!-- Final cluster de hotel -->
            </li>
        </ul>
    </section>
</div>