<div class="row">
    <div class="col-md-3 col-xs-12" >
        <filter-box></filter-box>
    </div>
    <!-- Genero el contenedor con la vista de los hoteles -->
    <!-- En tablets o phones es full width en desktop es 75% -->

    <div class="col-md-9 col-xs-12" >

            <div class="">
                <order-select class="order-select"></order-select>
                <!-- Recorro el arreglo de hoteles para generar la lista de los mismos -->
                <!--<li ng-repeat="hotel in $ctrl.hotels | price:userMinPrice:userMaxPrice | filtrarEstrellas:$ctrl.selEstrellas | orderBy:$ctrl.orderProp" >-->
                <div ng-repeat="hotel in $ctrl.hotels">
                    <!-- A cada componente hotelCluster le paso un hotel para que le de formato y lo distribuya entre sus childs -->
                    <!-- Comienzo cluster de hotel -->
                    <hotel-cluster hotel-data="hotel" class=""></hotel-cluster>
                    <!-- Final cluster de hotel -->
                </div>
            </div>

    </div>
</div>