<div class="header-res-ctn">
    <div class="row top-row">
        <div class="brand-ctn col-md-6">
            <img src="/static/img/logo-almundo.svg">
        </div>
        <div class="menu-ctn col-md-6">
            <ul class="global-menu pull-right">
                <li ng-repeat="x in $ctrl.globalMenu" ng-class="$first?'first':'item'"> <!--class="global-menu item">-->
                    <span ng-show="x.type == 'icon' && x.icon == 'person'" class="glyphicon glyphicon-user"></span>
                    <span ng-show="x.type == 'text' || x.type == 'icon' || x.type == 'drop'"><a class="glob-link">{{ x.title }}</a></span>
                    <span ng-show="x.type == 'drop'" class="glyphicon glyphicon-chevron-down little-caret"></span>
                    <img ng-show="x.type == 'image'" ng-src="{{ x.url }}" ng-data-alt="{{ x.title }}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="header-res-ctn nav-row-ctn">
    <div class="nav-row">
        <nav class="navbar-primary" role="navigation">
            <ul class="offers-menu">
                <li ng-repeat="y in $ctrl.navBarLinks" class="om-item">
                    <span>
                        <a href="#" class="nav-link">{{ y.title }}</a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>