<div class="">
<div ng-repeat="promo in $ctrl.decorators" class="col-12 offer">
    <p data-ng-show="promo.rec == true" class="offer-text hotel-recomendado" style="margin:0 0 0 0px;">¡Hotel recomendado!</p>
</div>

<div class="">
    <div class="">
    <img ng-repeat="slide in $ctrl.slides" class="fill"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentlySelected($index)" ng-src="{{ slide.url }}" >

    <a class="arrow prev" href="" ng-click="nextSlide()"></a>
    <a class="arrow next" href="" ng-click="prevSlide()"></a>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in $ctrl.slides">
                    <a href="" ng-class="{'active':isCurrentlySelected($index)}"
                       ng-click="setCurrentlySelected($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>
    </div>
</div>
</div>