<div class="row hotel-container">
    <div class="col-sm-4 col-xs-12 clear-padding" >
        <!-- Comienzo Slider como Componente -->
        <image-slider slides="hotelData.imagenes" decorators="hotelData.decorators"></image-slider>
        <!-- Fin Slider como componente -->
    </div>
    <div class="col-sm-5 col-xs-12">
        <!-- Inicio Descripción del hotel -->
        <hotel-description description="hotelData.description"></hotel-description>
        <!-- Final Descripcion del Hotel -->
    </div>
    <div class="col-sm-3 col-xs-12 price-box-container">
        <!-- Inicio Caja de Precio -->
        <price-box price="hotelData.price"></price-box>
        <!-- Final Caja de Precio -->
    </div>
</div>