<div class="filter-box-ctn">
    <div class="panel-heading clear-padding">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">
                <span class="glyphicon glyphicon-star glyphicon-no-margin"></span>
                <span>{{ $ctrl.title }}</span>
                <span class="glyphicon glyphicon-triangle-top pull-right little-caret"></span>
            </a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
        <div class="list-ctn">
            <ul class="list-unstyled">
                <li>
                    <label>
                        <!--<input type="checkbox" ng-model="$ctrl.checkboxCtrl.All" ng-change="$ctrl.setStars($ctrl.checkboxCtrl.All)" ng-click="$ctrl.checkAll">-->
                        <input type="checkbox" ng-model="selectedAll" ng-click="$ctrl.checkAll()">
                        Todas las estrellas
                    </label>
                </li>
                <li ng-repeat="cant in $ctrl.estrellas">
                    <label>
                        <input type="checkbox" ng-model="cant.Selected" ng-click="$ctrl.checkIfAllSelected(cant.value, cant.Selected)" >
                        <span class="glyphicon glyphicon-star gold" ng-repeat="i in [] | range:cant.value"></span>
                    </label>
                </li>
            </ul>
        </div>

    </div>
</div>